/*sec_tital*/
.sec-title {
	position: relative;
}
.sec-title h2 {
	position: relative;
	color: #1d1d1d;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.2em;
	padding-bottom: 15px;
}
.sec-title h2:before {
	position: absolute;
	content: '';
	left: 50%;
	transform: translateX(-50%);
	bottom: 0px;
	width: 270px;
	border-bottom: 2px solid #e4e4e4;
}
.sec-title h2:after {
	position: absolute;
	content: '';
	left: 50%;
	transform: translateX(-50%);
	bottom: 0px;
	width: 70px;
	border-bottom: 5px solid #1bbce8;
}
.center_bdr h2:before, .center_bdr h2:after {
	left: 50%;
	transform: translateX(-50%);
}

/*-------------------------------------------------------------------------------------------*/
/*  Main Banner        ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
.main-banner {
	position: relative;
	margin-top: 0px;
	overflow: hidden;
}
.main-banner .banner-text span {
	font-weight: 600;
	color: #fff;
	font-size: 26px;
	display: block;
	margin-bottom: 5px;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1;
}
.main-banner .banner-text h2 {
	font-size: 45px;
	color: #fff;
	margin-bottom: 10px;
	line-height: 1.3;
	text-transform: capitalize;
	padding: 10px 0;
	font-weight: 600;
}
.main-banner .banner-text p {
	font-family: 'Poppins', sans-serif;
	color: #fff;
	font-size: 15px;
	margin-bottom: 20px;
	line-height: 1.8;
}
.main-banner .tp-parallax-wrap {
}
.main-banner .tp-mask-wrap {
	height: auto;
}
.main-banner .more-btn {
	background: #714da0;
	line-height: 30px;
	padding-left: 38px;
	padding-right: 38px;
	font-weight: 700;
	color: #fff;
}
.main-banner li .btn-text {
	line-height: 50px !important;
	padding-left: 38px;
	padding-right: 38px;
	font-size: 13px;
	font-weight: 700;
}
#wrapper .main-banner .tp-bullets {
	top: auto;
	left: 52%;
	display: block;
	visibility: visible;
	opacity: 1;
	bottom: 66px;
}
.main-banner .tp-bullet {
	width: 26px;
	height: 3px;
	background: #8f8f8f;
}
.main-banner .tp-bullet.selected {
	background: #714da0;
}
.tparrows.tp-leftarrow, .tparrows.tp-rightarrow {
	border: 1px solid #fff;
	z-index: 99;
	cursor: pointer;
	background: none;
	visibility: hidden;
}
.main-banner:hover .tparrows.tp-leftarrow, .main-banner:hover .tparrows.tp-rightarrow {
	visibility: visible;
}
.tparrows.tp-leftarrow:hover, .tparrows.tp-rightarrow:hover {
	background: #714da0;
	border: 1px solid #714da0;
}
.slotholder:before {
	border-top: none;
	border-bottom: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.52);
	content: '';
}
@media (max-width: 480px) {
	.main-banner .banner-text h2 {
		font-size: 18px;
	}
	.main-banner .banner-text p {
		line-height: 1.2;
		font-size: 15px;
	}
}
.img_slider {
	width: 100% !important;
	height: auto !important
}

/*button*/
.btn {
	border: 2px solid rgba(255, 255, 255, 0.76);
	border-radius: 100px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
	outline: 0 none;
	padding: 13px 30px;
	position: relative;
	text-align: center;
	text-decoration: none;
	z-index: 1;
}

.btn:hover, .btn:focus {
	box-shadow: 0px 12px 19px 4px rgba(0, 0, 0, 0.08);
}
.btn-box a:hover {
	color: #fff;
}

/*About_Section*/
.about-left h4 {
	margin: 0px;
	font-weight: normal;
	color: #8e8e8e;
}

.about-left p {
	text-transform: capitalize;
	margin-bottom: 0;
	color: #8e8e8e;
	margin-top: 25px;
}

.icon-lf {
	border: 2px solid #0c1f38;
	min-width: 25%;
}
.icon-lf i {
	color: #1bbce8;
	font-size: 45px;
	line-height: 74px;
	text-align: center;
	width: 100%;
	transition: .4s;
}
.right-txt {
	width: 70%;
	margin-left: 10px;
}
.right-txt h3 {
	margin-top: 0px;
	text-transform: uppercase;
	font-size: 17px;
}
.right-txt p {
	text-transform: capitalize;
	color: #8e8e8e;
	margin: 0px;
}
.pic-show img {
	width: 100%;
}

/*Project_Section*/
#project-section .width-25per .block-title .sec_hedding .b-line {
	background: #fff;
}

/*service*/
.service__content_box {
	padding: 30px;
	background: #fff;
	position: relative;
	margin: 0;
}
@media (max-width: 767px) {
	.service__content_box {
		margin-top: 0px;
		width: 100%;
	}
}
.tab-content {
	margin: 0px;
}
.service-test {
	display: none;
}
.service-tab {
	display: block;
}
.full_width {
	width: 100%;
}
.top-service {
	position: relative;
	background: #fff;
	border: none;
	margin-bottom: 2px;
	padding: 22px 18px;
	font-size: 14px;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #222;
	transition: all .3s;
}
.top-service .fr-text i {
	margin-right: 20px;
	vertical-align: middle;
	font-size: 35px;
	color: #479c18;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.top-service .fr-text i {
		margin-right: 10px;
	}
	.top-service {
		padding: 28px 12px;
	}
}
.top-service:hover, .top-service.active {
	background-color: #1bbce8;
	color: #fff;
}
.top-service:hover i, .top-service.active i {
	color: #fff;
}
.top-service.active:before, .top-service:hover:before, .top-serv:focus:before {
	opacity: 1;
}
.bg_same {
	background: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
}
.bg_same h4 {
	margin: 17px 0px 10px;
	font-size: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
	.top-service:before {
		display: none;
	}
}
@media (max-width: 767px) {
	.top-service:before {
		display: none;
	}
}
.white_btn {
	border: 1px solid #1d1d1d;
	color: #1d1d1d;
}
.white_btn:hover {
	color: #fff;
	border-color: #1bbce8;
	background: #1bbce8;
}
.impotent_point ul {
	padding-left: 0px;
}
.impotent_point ul li {
	list-style: none;
	font-size: 14px;
	line-height: 29px;
}
.impotent_point ul li i {
	font-size: 12px;
	color: #1bbce8;
}
/*-------------------------------------------------------------------------------------------*/
/* Counter STYLE    ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
.fact-counter-wrapper {
	position: relative;
	background: url(../images/bg_22.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	background-attachment: fixed;
	background-position: center center;
}
.fact-counter-wrapper .container {
	z-index: 1;
}
.fact-counter-wrapper:before {
	background-color: rgba(0, 0, 0, 0.56);
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
}

.single-fact {
	text-align: center;
	display: inline-block;
	padding: 20px 0px 30px;
}
.single-fact .icon-boxed {
	width: 70px;
	height: 70px;
	font-size: 45px;
	color: #2ecc71;
	text-align: center;
	line-height: 74px;
	margin: 0 auto;
	position: static;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
}
.single-fact span {
	padding: 4px 0;
	line-height: 1.2;
	display: block;
	font-size: 40px;
	color: #fff !important;
	font-weight: 700;
}
.fact-counter-wrapper h2 {
	font-size: 36px;
	line-height: 42px;
	color: #fff;
	margin: 0;
	margin-bottom: 27px;
}
.single-fact p {
	margin: 0;
	font-size: 15px;
	text-transform: uppercase;
	color: #fff !important;
	font-weight: 500;
}

.single-fact .icon-box i:before {
	font-size: 50px;
}
.overlay-dark, .overlay-dark80, .overlay-light, .overlay-light80 {
	position: relative;
	z-index: 1;
}
.dark-bg p, .dark-bg h2, .dark-bg h6 {
	color: #fff;
}

.overlay-dark80:before {
	background-color: rgba(0, 0, 0, 0.90);
}

.overlay-dark:before, .overlay-dark80:before, .overlay-light:before, .overlay-light80:before, .tp-bgimg:before {
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	z-index: -1;
}
.border_full {
	border: 1px solid #2ecc71;
	border-right: none;
}
.border_full:last-child {
	border-right: 1px solid #2ecc71;
}
@media (min-width: 768px) and (max-width: 991px) {
	.border_full {
		border-right: 1px solid #2ecc71;
	}
}
@media (max-width: 767px) {
	.border_full:last-child{
		border-right:none;
	}
	.border_full {
		border: none;
	}
	.single-fact {
		border: 1px solid #2ecc71;
		width: 100%;
	}
}

/*========== Team========== */
.team_colume .team_item figure {
	border-radius: 50%;
}
.team_colume .team_detail h4 {
	margin: 0px;
	font-size: 16px;
	text-transform: uppercase;
}

.team_colume .team_detail span {
}
.team_colume .team_detail p {
	margin: 0px;
}

/*testimonial section style*/
.testimonial_wrapper__block {
	background-image: url(../images/testimonial-bd.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.testimonial_wrapper__block::before {
	background: #000000 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.76;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.testimonial_wrapper__block h2 {
	color: #fff;
}
.single_carousel {
	margin: 0px 15px;
}
.single_carousel > p {
	background: #1bbce8;
	padding: 25px 35px 44px;
	position: relative;
}

.single_carousel > p::after {
	background: #00addc;
	border-radius: 50%;
	bottom: -23px;
	color: #ffffff;
	content: "\f10d";
	font-family: fontawesome;
	font-size: 18px;
	height: 50px;
	left: 20px;
	line-height: 49px;
	position: absolute;
	text-align: center;
	width: 50px;
}

.author_img__block {
	display: table;
	margin-top: 38px;
}
.author_tablecell__block {
	display: table-cell;
	vertical-align: middle;
}
.author_tablecell__block > img {
	border: 5px solid #ffffff;
	border-radius: 50%;
	float: left;
	margin-left: 10px;
	max-width: 80px;
}
.author_tablecell__block > p {
	display: inline-block;
	font-weight: 700;
	margin-left: 15px;
	margin-top: 15px;
}
.author_tablecell__block span {
	display: block;
	font-weight: normal;
}

.testimonial_carosule-wrap .owl-nav div {
	border: 1px solid #fff;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	height: 40px;
	margin-left: 10px;
	text-align: center;
	transition: all 0.4s ease 0s;
	width: 40px;
	line-height: 40px;
	position: static;
	background: transparent;
	transform: translateY(0);
	-webkit-transform: translateY(0);
}
.testimonial_carosule-wrap .owl-nav {
	margin-top: 15px;
	text-align: center;
}
.testimonial_carosule-wrap .owl-nav div:hover {
	background: #0c1f38 none repeat scroll 0 0;
}
.block-width{
	max-width: 480px;
	width: 100%;
}
